.content {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

.text {
    width: 480px;
}

.text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #222433;
    margin-bottom: 40px;
}

.description p {
    width: 423px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* margin-bottom: 59px; */
}

.description {
    margin-bottom: 56px;
}

.btn {
    width: 166px;
    height: 48px;
    cursor: pointer;
    border-radius: 30px;
    background: #F2726C;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-out;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #f66059;
    transform: translateY(2px);
    transition: all 0.2s ease-out;
}

@media screen and (max-width:1050px) {
    .btn {
        margin-bottom: 48px;
    }

}

@media screen and (max-width: 600px) {
    .text h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .description p {
        width: 312px;
        font-size: 15px;
        line-height: 26px;
    }

    .description {
        margin-bottom: 32px;
    }
}