* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 500px;
}

.item {
    border-bottom: 2px solid #ccc;
}

.title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.content {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    max-height: 0;
}

.content__show {
    /* max-width: 600; */
    transition: all 0.5s ease-in-out;
}


.slick-dots li.slick-active button:before {
    background: #000 !important;
    width: 11px !important;
    height: 11px !important;
    border-radius: 15px;
    color: #000 !important;
}

.slick-dots li button:before {
    border: 1px solid #000 !important;
    border-radius: 15px;
    background: #fff !important;
    color: #fff !important;
    width: 11px !important;
    height: 11px !important;
}