.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.relative__mobile,
.assets__mobile {
    display: none;
    visibility: hidden;
}

.relative__desktop {
    margin-bottom: 100px;
    position: relative;
}

.title__bg {
    max-width: 1120px;
    width: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 162px;
    right: 113px;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    color: #1E1A20;
    width: 928px;
    text-align: center;
}

.assets__wrapper {
    display: flex;
    justify-content: space-around;
    width: 736px;
    top: 370px;
    left: -330px;
    border-top: 2px solid #1E1A20;
    padding-top: 40px;
    margin-bottom: 196px;
}

.assets__item {
    display: flex;
    flex-direction: row;
    max-width: 150px;
    justify-content: space-between;
    align-items: center;
}

.assets__text {
    text-transform: uppercase;
    font-size: 12px;
}

@media screen and (max-width:1120px) {
    .title {
        width: 500px;
        top: 90px;
        right: 225px;
        font-size: 32px;
        line-height: 44px;
        /* left: -355px; */
    }


    .assets__wrapper {
        width: 660px;
    }
}

@media screen and (max-width: 950px) {

    .relative__desktop,
    .assets__desktop {
        display: none;
        visibility: hidden;
    }

    .relative__mobile {
        display: block;
        visibility: visible;
        position: relative;
        margin-top: 100px;
    }

    .assets__mobile {
        display: block;
        visibility: visible;
    }

    .mobile__wrapper {
        margin-bottom: 40px;
    }

    .title__mobile {
        text-align: center;
        position: absolute;
        width: 340px;
        top: 70px;
        left: -50px;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        color: #1E1A20;

    }

    .right_one__mobile {
        position: absolute;
        top: -80px;
    }

    .right_two__mobile {
        position: absolute;
        top: 20px;
        right: -65px;
    }

    .left_one__modile {
        position: absolute;
        top: -80px;
        left: -15px;
    }

    .left_two__modile {
        position: absolute;
        top: 20px;
        left: -55px;
    }

    .assets__mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-top: 3px solid #222433;
        margin-bottom: 80px;
    }

    .assets__item__mobile {
        display: flex;
        flex-direction: column;
        width: 120px;
        margin-top: 60px;
        align-items: center;
        text-align: center;
        margin-right: 20px;
    }

    .assets__item__mobile img {
        width: 42px;
        height: 42px;
        margin-bottom: 20px;
    }

    .assets__item__mobile p {
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        color: #1E1A20;
    }

}